
<nav class="navbar bg-warning">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/">Navbar</a>
        <a class="navbar-brand fw-bold" asp-controller="Auth" asp-action="SignUp">Kullanici Girisi</a>
        
    </div>
</nav>
