@model AuthorViewModel


<h1 class="text-center mt-5">Yazar Bilgileri</h1>
<input type="hidden" asp-for="Id" />

<div class="mt-5">
<table class="table">
    <thead>
        <tr>
            <th>ADI</th>
            <th>SOYADI</th>
            <th>DOĞUM TARİHİ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.DateOfBirth.ToString("dd/MM/yyyy")</td>
        </tr>
    </tbody>
</table>
</div>
