@model AuthorViewModel

<h1 class="text-center mt-5">Yazar Bilgileri Düzenle</h1>

<form method="post" asp-controller="Author" asp-action="AuthorEdit">

    <input type="hidden" asp-for="Id" />

  
    <div>
        <label>Yazar Adı</label>
        <input asp-for="FirstName" class="form-control" type="text" />
        <span asp-validation-for="FirstName" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>
        <label>Yazar Soyadı</label>
        <input asp-for="LastName" class="form-control" type="text" />
        <span asp-validation-for="LastName" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>

        <label>Doğum Tarihi</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Kaydet</button>
</form>




