@model BookEditViewModal


<h1 class="text-center mt-5">Kitap Bilgileri Düzenle</h1>



<form method="post" asp-controller="Book" asp-action="Edit">

   <input type="hidden" asp-for="Id" />

    <div>
        <label>Kitap Adı</label>
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>
        <label>Yazar Adı</label>
        <select asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Authors, "Id","FullName"))" class="form-control">
            <option value="">Bir yazar seçin</option>
        </select>
        <span asp-validation-for="AuthorId" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>
        <label>Kitap Türü</label>
        <input asp-for="Genre" class="form-control" type="text" />
        <span asp-validation-for="Genre" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>

        <label>Baskı Yılı</label>
        <input asp-for="PublishDate" class="form-control" type="date" />
        <span asp-validation-for="PublishDate" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>
        <label>ISBN</label>
        <input asp-for="ISBN" class="form-control" type="text" />
        <span asp-validation-for="ISBN" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <div>
        <label>Kopya Sayısı</label>
        <input asp-for="CopiesAvailable" class="form-control" type="number" />
        <span asp-validation-for="CopiesAvailable" class=" text-danger mt-2 fw-bold"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Kaydet</button>
</form>



