@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
 
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      text-align: center; 
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
    }

    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }

    .footer {
      background-color: #f0ad4e;
      color: white;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  </style>
</head>

    <head>
    <a class="nav-link" asp-controller="Auth" asp-action="SignUp">KULLANICI KAYIT</a>
    <a class="nav-link" asp-controller="Auth" asp-action="Login">KULLANICI GİRİŞ</a>
    </head>

<body>
    
  <div class="header">     

  </div>

  <div class="container">
    <h1>PATIKA+ BACKEND DEVELOPER BOOTCAMP LIBRARY MANAGEMENT SYSTEM PROJECT</h1>
    </div>

  
</body>
</html>